@page "/Autofill"
<h3>Autofill</h3>
<Button Text="ShowModal" OnClick="@(() => M1?.Show())"></Button>
<Modal @ref="M1">
    <ModalDialog Title="AutoFill">
        <BodyTemplate>
            <Autofill1></Autofill1>

        </BodyTemplate>
    </ModalDialog>
</Modal>

@code {
    private Modal? M1{ get; set; }
  
  
}
