@page "/listgroupdemo"
<h3>ListGroupDemo</h3>
<div class="list-group">
    <div class="list-group-item">
        Item1
    </div>
    <div class="list-group-item">
        Item2
    </div>
    <div class="list-group-item">
        Item2
    </div>
</div>

@code {

}
