@page "/TableIssues"

<Table TItem="StruTest" Items="TestList" ShowSearch="true" ShowToolbar="true">
    <TableColumns>
        <TableColumn @bind-Field="context.Value1"></TableColumn>
        <TableColumn @bind-Field="context.Value2"></TableColumn>
    </TableColumns>
</Table>
