@page "/TableIssues"

<div class="alert alert-info">
   导出Excel时出错。重现方法：点击导出按钮，就会提示错误
</div>
<Table TItem="StruTest" Items="TestList" ShowToolbar="true" ShowExportButton="true">
    <TableColumns>
        <TableColumn @bind-Field="context.Value1"></TableColumn>
        <TableColumn @bind-Field="context.Value2"></TableColumn>
    </TableColumns>
</Table>
