@page "/TableIssues"

<div class="alert alert-info">
    如果数据结构中有只读属性，比如下面StruTest中的AutoValue属性，如何绑定到Table的Column中？
</div>
<Table TItem="StruTest" Items="TestList">
    <TableColumns>
        <TableColumn @bind-Field="context.Value1"></TableColumn>
        <TableColumn Field="context.AutoValue"></TableColumn>
    </TableColumns>
</Table>
